header {
    height: 15%;
    background: rgba(78, 119, 137, 0.653);
    display: flex;
}

header h1, h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2vw;
    text-align: center;
    margin-top: 3%;
}

header h2{
    font-size: 1.75vw;
    text-transform: none;
}