*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container1{
  margin: 0 auto;
}

.container1 h1{
  text-align: center;
  margin-bottom: 2%;
  font-size: 3vw;
}
.contact{
  width: 100%;
  text-align: center;
}

.contact a{
  font-size: 1.5vw;
}

main{
  margin-top: 30px !important;
}

